NEXT_PUBLIC_SANITY_PROJECT_ID=jco7e4cq
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
SANITY_WRITE_TOKEN=...
NEXT_PUBLIC_BASE_URL=https://thiersblade.com
